.users {
    background-color: #e5e5e5;
    font-family: "Work Sans", sans-serif;
    // height: 1060px;
  }
  .users__container {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .typeOfusers {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .typeOfusers__card {
    width: 200px;
    height: 140px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
  
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 22px;
        height: 22px;
        color: #df18ff;
        opacity: 1;
      }
    }
    .user {
      background-color: rgba(223, 24, 255, 0.1);
    }
    .userActive {
      background-color: rgba(87, 24, 255, 0.1);
    }
    .loan {
      background-color: rgba(245, 95, 68, 0.1);
    }
    .money {
      background: rgba(255, 51, 102, 0.1);
    }
  
    .userType {
      font-weight: 500;
      font-size: 0.9rem;
      text-transform: uppercase;
      color: #545f7d;
    }
    .no_Ofusers {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #213f7d;
    }
    
  }
  .users__body {
    background-color: #ffffff;
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    padding: 15px;
    position: relative;
    .users__table {
      width: 100%;
      padding: 20px;
      .table__header {
        display: flex;
  
        // margin: 15px;
        > p {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.8rem;
          color: #545f7d;
          margin-top: 2px;
          text-align: left;
        }
        .icon {
          margin-left: 8px;
          > img {
            cursor: pointer;
          }
        }
      }
      th {
        padding-bottom: 15px;
      }
      .table__row{
        position: relative;
        .select__usertype{
            position: absolute;
            width: 200px;
            min-height: 100px;
            background: #FFFFFF;
            left: 85%;
            z-index: 9999;
            box-shadow: 3px 5px 20px 0px #0000000A;

            li{
                cursor: pointer;
                list-style-type: none;
                line-height: 30px;
                display: flex;
                align-items: center;
                >svg, >img{
                    
                    display: inline;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
      }
      td {
        padding: 15px 0;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        font-weight: 400;
        font-size: 0.85rem;
        color: #545f7d;
        > svg {
          cursor: pointer;
        }
      }
    }
  }
  .users__filter {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .users__display {
      display: flex;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 0.9rem;
        color: #545f7d;
        margin-right: 13px;
      }
      .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 40px;
        background: rgba(33, 63, 125, 0.1);
        margin-right: 13px;
        border-radius: 4px;
        cursor: pointer;
        svg {
          margin-left: 10px;
          font-size: 0.9rem;
        }
      }
    }
  }
  
  .users__filterModal {
    position: absolute;
    width: 270px;
    height: 580px;
    top: 38px;
    background: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    .filterModal {
      width: 85%;
      margin: 30px auto;
    }
    .input__field {
      display: flex;
      flex-direction: column;
      margin-bottom: 17px;
  
      > label {
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 16px;
        color: #545f7d;
        margin-bottom: 7px;
      }
  
      > input,
      select {
        padding: 0 15px;
        height: 40px;
        background: #ffffff;
        border: 1px solid rgba(33, 63, 125, 0.2);
        border-radius: 8px;
      }
      > input::placeholder {
        font-weight: 400;
        font-size: 0.9rem;
        color: #545f7d;
        opacity: 0.7;
      }
      option {
        padding: 0 20px;
      }
    }
    .filter__btn {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      button {
        width: 98px;
        height: 40px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;
      }
      .btn__reset {
        color: #545f7d;
        background-color: #fff;
  
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn__filter {
        background: #39cdcc;
        border: 1px solid #39cdcc;
        color: #ffffff;
      }
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 1rem;
  
    button {
      margin: 0 0.5rem;
      padding:1rem 1rem ;
      // width: 15px;
      // height: 15px;
      border: none;
      align-items: center;
      border-radius: 50%;
      background-color: #eee;
      cursor: pointer;
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
  
      &.active {
        background-color: #007bff;
        color: #fff;
      }
      >svg{
        display: inline;
        align-items: center;
        font-size: 25px;
      }
    }
  
    .ellipsis {
      margin: 0 0.5rem;
    }
  }
  
  
  .users__body {
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
      
    }
  
    @media screen and (max-width: 768px) {
      table {
        display: block;
        overflow-x: auto;
      }
      
    }
  }
  
  @media screen and (max-width: 768px) {
    .typeOfusers{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .typeOfusers__card{
   width: 55%;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
  
    .icon {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        color: #df18ff;
        opacity: 1;
      }
    }
    .user {
      background-color: rgba(223, 24, 255, 0.1);
    }
    .userActive {
      background-color: rgba(87, 24, 255, 0.1);
    }
    .loan {
      background-color: rgba(245, 95, 68, 0.1);
    }
    .money {
      background: rgba(255, 51, 102, 0.1);
    }
  
    .userType {
      font-weight: 500;
      font-size: 0.6rem;
      text-transform: uppercase;
      color: #545f7d;
    }
    .no_Ofusers {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #213f7d;
      margin: 0px;
    }
    }

    .table__row{
      position: relative;
      .select__usertype{
          position: absolute;
          width: 200px;
          min-height: 100px;
          background: #FFFFFF;
          left: 79%;
          top: 75%;
          z-index: 9999;
          box-shadow: 3px 5px 20px 0px #0000000A;

          li{
              cursor: pointer;
              list-style-type: none;
              line-height: 30px;
              display: flex;
              align-items: center;
              >svg, >img{
                  
                  display: inline;
                  font-size: 20px;
                  margin-right: 10px;
              }
          }
      }
    }

    .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 1rem;
  
    button {
      margin: 0 0.5rem;
      padding:0.5rem 0.5rem ;
      // width: 15px;
      // height: 15px;
      border: none;
      align-items: center;
      border-radius: 50%;
      background-color: #eee;
      cursor: pointer;
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
  
      &.active {
        background-color: #007bff;
        color: #fff;
      }
      >svg{
        display: inline;
        align-items: center;
        font-size: 25px;
      }
    }
  
    .ellipsis {
      margin: 0 0.5rem;
    }
  }

  }